@model OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создать заказ</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label">Поставщик</label>
                <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.Providers"></select>
            </div>
            @if (Model == null)
            {
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary mt-3" />
                </div>
            }
        </form>
        @if (Model != null)
        {
            <div class="btn btn-primary mt-3">
                <p>
                    <a asp-controller="Item" asp-action="Create" asp-route-id="@Model.ID">
                        Добавить товар
                    </a>
                </p>
            </div>
        }
    </div>
</div>
@if (Model != null && Model.OrderItems != null)
{
    <h3>Элементы заказа</h3>
    <div>
        @await Html.PartialAsync("~/Views/Partial/_ItemsPartial.cshtml", Model)
    </div>
}
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark mt-3">К списку заказов</a>
</div>

