@model ItemViewModel

@{
    ViewData["Title"] = "Добавить элемент заказа";
}

<h1>Добавить новый элемент заказа</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.OrderID" />
            <input type="hidden" asp-for="@Model.Method" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Количество</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label">Единица товара</label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary mt-3" />
            </div>
        </form>
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="alert-danger my-2">
                @ViewBag.ErrorMessage
            </p>
        }
        <a class="btn btn-outline-dark mt-2" asp-controller="Order" asp-action="Details" asp-route-id="@Model.OrderID">Назад</a>
    </div>
</div>


