@model OrderCollectionApp.Models.OrderItem

@{
    ViewData["Title"] = "Удалить";
}

<h3>Вы уверены, что хотите удалить данный эелемент?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            Единица товара
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
        <a class="btn btn-outline-dark" asp-controller="Order" asp-action="Details" asp-route-id="@Model.OrderID">Назад</a>
    </form>
</div>
