@model ItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Детали элемента заказа</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.OrderID" />
            <input type="hidden" asp-for="@Model.ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Количество</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label">Единица</label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary my-3" />
            </div>
        </form>
        @if (ViewBag.ErrorMessage != null)
        {
            <p class="alert-danger my-2">
                @ViewBag.ErrorMessage
            </p>
        }
    </div>
</div>
<div>
    <a class="btn btn-outline-dark" asp-controller="Order" asp-action="Details" asp-route-id="@Model.OrderID">Назад</a>
</div>

